/* .document{
    height: 100vh;
} */

.header{
    margin: 0px;
    padding: 5px;
    height: 50px;
    /* position: fixed;
    width: 100%; */
    /* background-color: grey; */
    border: 1px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.11), 0 17px 50px 0 rgba(0, 0, 0, 0.068);
    z-index: 6;
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-container {
     height: 100vh; 

    color: white;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(16, 88, 100);
     */
    background-color:  #0a667d;
    }

.block {
    margin-top: 50px;
    height: 150px;
    width: 600px;
    /* text-align: center; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

.left-container .title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.right-container {
    height: 598px;
    width: 34%;
    /* margin: 30px; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

mat-slider{
    width: 500px;
}

label {
    margin: 7px;
}

.slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}




h2.title {
    margin-top: 50px;
}

p.info {
    color: white;
    opacity: 0.4;
    
}

.calc {
    display: flex;
    width: 600px;
    height: 100px;
    justify-content: space-around;
}

.calculate {
    margin-top: 30px;
    font-size: 20px;
    padding: 5px 50px;
    color: black;
    border-radius: 20px;
}


.calculate:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.question {
    display: flex;
}

.quest {
    margin: 15px;
}

.radio {
    padding: 0px 10px;
}

.confirm {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px 50px;
    color: white;
    background-color: rgb(16, 88, 100);
    border-radius: 20px;
}

.confirm:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h2.credit {
    margin-top: 20px;
    font-size: 25px;
}

p.data {
    opacity: 0.5;
}

.information {
    margin-top: 20px;
    width: 250px;
}

hr {
    background-color: grey;
    opacity: 0.4;
    height: 1px;
    width: 300px;

}

.aik-pay-button{
    padding: 5px 20px;
    margin: 7px;
    border: none;
    border-radius: 15px;
    height: 40px;
    background-color: #0a667d;
    color: white;
    outline: none;
}

.aik-pay-button-active{
    background-color: white;
    color: #0a667d;
}